ol.lst-kix_list_1-3 {
  list-style-type: none;
}
ol.lst-kix_list_1-4 {
  list-style-type: none;
}
.lst-kix_list_2-6 > li:before {
  content: '' counter(lst-ctn-kix_list_2-6, decimal) '. ';
}
.lst-kix_list_2-7 > li:before {
  content: '' counter(lst-ctn-kix_list_2-7, lower-latin) '. ';
}
.lst-kix_list_2-7 > li {
  counter-increment: lst-ctn-kix_list_2-7;
}
ol.lst-kix_list_1-5 {
  list-style-type: none;
}
ol.lst-kix_list_1-6 {
  list-style-type: none;
}
.lst-kix_list_2-1 > li {
  counter-increment: lst-ctn-kix_list_2-1;
}
ol.lst-kix_list_1-0 {
  list-style-type: none;
}
.lst-kix_list_2-4 > li:before {
  content: '' counter(lst-ctn-kix_list_2-4, lower-latin) '. ';
}
.lst-kix_list_2-5 > li:before {
  content: '' counter(lst-ctn-kix_list_2-5, lower-roman) '. ';
}
.lst-kix_list_2-8 > li:before {
  content: '' counter(lst-ctn-kix_list_2-8, lower-roman) '. ';
}
ol.lst-kix_list_1-1 {
  list-style-type: none;
}
ol.lst-kix_list_1-2 {
  list-style-type: none;
}
.lst-kix_list_1-1 > li {
  counter-increment: lst-ctn-kix_list_1-1;
}
ol.lst-kix_list_2-6.start {
  counter-reset: lst-ctn-kix_list_2-6 0;
}
ol.lst-kix_list_1-8.start {
  counter-reset: lst-ctn-kix_list_1-8 0;
}
ol.lst-kix_list_2-3.start {
  counter-reset: lst-ctn-kix_list_2-3 0;
}
ol.lst-kix_list_1-5.start {
  counter-reset: lst-ctn-kix_list_1-5 0;
}
ol.lst-kix_list_1-7 {
  list-style-type: none;
}
.lst-kix_list_1-7 > li {
  counter-increment: lst-ctn-kix_list_1-7;
}
ol.lst-kix_list_1-8 {
  list-style-type: none;
}
ol.lst-kix_list_2-5.start {
  counter-reset: lst-ctn-kix_list_2-5 0;
}
.lst-kix_list_2-0 > li {
  counter-increment: lst-ctn-kix_list_2-0;
}
.lst-kix_list_2-3 > li {
  counter-increment: lst-ctn-kix_list_2-3;
}
.lst-kix_list_2-6 > li {
  counter-increment: lst-ctn-kix_list_2-6;
}
ol.lst-kix_list_1-7.start {
  counter-reset: lst-ctn-kix_list_1-7 0;
}
.lst-kix_list_1-2 > li {
  counter-increment: lst-ctn-kix_list_1-2;
}
ol.lst-kix_list_2-2.start {
  counter-reset: lst-ctn-kix_list_2-2 0;
}
.lst-kix_list_1-5 > li {
  counter-increment: lst-ctn-kix_list_1-5;
}
.lst-kix_list_1-8 > li {
  counter-increment: lst-ctn-kix_list_1-8;
}
ol.lst-kix_list_1-4.start {
  counter-reset: lst-ctn-kix_list_1-4 0;
}
ol.lst-kix_list_1-1.start {
  counter-reset: lst-ctn-kix_list_1-1 0;
}
ol.lst-kix_list_2-2 {
  list-style-type: none;
}
ol.lst-kix_list_2-3 {
  list-style-type: none;
}
ol.lst-kix_list_2-4 {
  list-style-type: none;
}
ol.lst-kix_list_2-5 {
  list-style-type: none;
}
.lst-kix_list_1-4 > li {
  counter-increment: lst-ctn-kix_list_1-4;
}
ol.lst-kix_list_2-0 {
  list-style-type: none;
}
.lst-kix_list_2-4 > li {
  counter-increment: lst-ctn-kix_list_2-4;
}
ol.lst-kix_list_1-6.start {
  counter-reset: lst-ctn-kix_list_1-6 0;
}
ol.lst-kix_list_2-1 {
  list-style-type: none;
}
ol.lst-kix_list_1-3.start {
  counter-reset: lst-ctn-kix_list_1-3 0;
}
ol.lst-kix_list_2-8.start {
  counter-reset: lst-ctn-kix_list_2-8 0;
}
ol.lst-kix_list_1-2.start {
  counter-reset: lst-ctn-kix_list_1-2 0;
}
.lst-kix_list_1-0 > li:before {
  content: '' counter(lst-ctn-kix_list_1-0, decimal) '. ';
}
ol.lst-kix_list_2-6 {
  list-style-type: none;
}
.lst-kix_list_1-1 > li:before {
  content: '' counter(lst-ctn-kix_list_1-1, lower-latin) '. ';
}
.lst-kix_list_1-2 > li:before {
  content: '' counter(lst-ctn-kix_list_1-2, lower-roman) '. ';
}
ol.lst-kix_list_2-0.start {
  counter-reset: lst-ctn-kix_list_2-0 0;
}
ol.lst-kix_list_2-7 {
  list-style-type: none;
}
ol.lst-kix_list_2-8 {
  list-style-type: none;
}
.lst-kix_list_1-3 > li:before {
  content: '' counter(lst-ctn-kix_list_1-3, decimal) '. ';
}
.lst-kix_list_1-4 > li:before {
  content: '' counter(lst-ctn-kix_list_1-4, lower-latin) '. ';
}
ol.lst-kix_list_1-0.start {
  counter-reset: lst-ctn-kix_list_1-0 0;
}
.lst-kix_list_1-0 > li {
  counter-increment: lst-ctn-kix_list_1-0;
}
.lst-kix_list_1-6 > li {
  counter-increment: lst-ctn-kix_list_1-6;
}
.lst-kix_list_1-7 > li:before {
  content: '' counter(lst-ctn-kix_list_1-7, lower-latin) '. ';
}
ol.lst-kix_list_2-7.start {
  counter-reset: lst-ctn-kix_list_2-7 0;
}
.lst-kix_list_1-3 > li {
  counter-increment: lst-ctn-kix_list_1-3;
}
.lst-kix_list_1-5 > li:before {
  content: '' counter(lst-ctn-kix_list_1-5, lower-roman) '. ';
}
.lst-kix_list_1-6 > li:before {
  content: '' counter(lst-ctn-kix_list_1-6, decimal) '. ';
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_list_2-0 > li:before {
  content: '' counter(lst-ctn-kix_list_2-0, decimal) '. ';
}
.lst-kix_list_2-1 > li:before {
  content: '' counter(lst-ctn-kix_list_2-1, lower-latin) '. ';
}
ol.lst-kix_list_2-1.start {
  counter-reset: lst-ctn-kix_list_2-1 0;
}
.lst-kix_list_2-5 > li {
  counter-increment: lst-ctn-kix_list_2-5;
}
.lst-kix_list_2-8 > li {
  counter-increment: lst-ctn-kix_list_2-8;
}
.lst-kix_list_1-8 > li:before {
  content: '' counter(lst-ctn-kix_list_1-8, lower-roman) '. ';
}
.lst-kix_list_2-2 > li:before {
  content: '' counter(lst-ctn-kix_list_2-2, lower-roman) '. ';
}
.lst-kix_list_2-3 > li:before {
  content: '' counter(lst-ctn-kix_list_2-3, decimal) '. ';
}
.lst-kix_list_2-2 > li {
  counter-increment: lst-ctn-kix_list_2-2;
}
ol.lst-kix_list_2-4.start {
  counter-reset: lst-ctn-kix_list_2-4 0;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c19 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  background-color: #595959;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 82.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c11 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  background-color: #595959;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 107.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c28 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  background-color: #595959;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 457.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c10 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  background-color: #595959;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 31.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c7 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 128.7pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c46 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 31.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c14 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 329.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c0 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  vertical-align: top;
  width: 297.6pt;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.c8 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 107.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c23 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 107.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c40 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 457.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c26 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 31.6pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c15 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 107.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c27 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 82.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c6 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 107.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c30 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 457.9pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c25 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 82.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c17 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  vertical-align: top;
  width: 31.6pt;
  border-bottom: 1px solid black;
}
.c35 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 82.8pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c4 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 107.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c41 {
  border-right-style: solid;
  padding: 2.9pt 2.9pt 1.4pt 5.7pt;
  border-bottom-color: #000000;
  border-top-width: 0.5px;
  border-right-width: 0.5px;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0.5px;
  width: 114.4pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  text-align: left;
  height: 10pt;
}
.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14px;
  font-family: 'Arial';
  font-style: normal;
}
.c43 {
  padding-top: 6pt;
  padding-bottom: 0pt;

  text-align: left;
  height: 11pt;
}
.c9 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Arial';
  font-style: normal;
}
.c29 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}
.c24 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: 'Arial';
  font-style: normal;
}
.c20 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: 'Arial';
  font-style: normal;
}
.c38 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  text-align: justify;
  height: 11pt;
}
.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  text-align: left;
}
.c33 {
  padding-top: 0pt;
  padding-bottom: 0pt;

  text-align: center;
}
.c37 {
  color: #ffffff;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'Arial';
  font-style: normal;
}
.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  text-align: left;
  height: 11pt;
}
.c42 {
  border-spacing: 0;
  border-collapse: collapse;
  width: 90%;
}
.c44 {
  background-color: #ffffff;
}
.c32 {
  margin-left: 18pt;
  padding-left: 0pt;
}
.c22 {
  font-size: 14px;
  font-weight: 700;
}
.c45 {
  font-size: 9pt;
  font-weight: 700;
}
.c18 {
  padding: 0;
  margin: 0;
}
.c36 {
  font-weight: 400;
}
.c21 {
  height: 25.5pt;
}
.c34 {
  height: 19.9pt;
}
.c12 {
  height: 28.4pt;
}
.c16 {
  height: 14.2pt;
}
.c13 {
  height: 11.3pt;
}
.c31 {
  height: 12.8pt;
}
.c39 {
  color: #ffffff;
}
.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: 'Arial';

  page-break-after: avoid;

  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: 'Georgia';

  page-break-after: avoid;
  font-style: italic;

  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: 'Arial';
}
h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: 'Arial';

  page-break-after: avoid;

  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: 'Arial';

  page-break-after: avoid;

  text-align: left;
}
h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: 'Arial';

  page-break-after: avoid;

  text-align: left;
}
h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: 'Arial';

  page-break-after: avoid;

  text-align: left;
}
h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: 'Arial';
  page-break-after: avoid;
  text-align: left;
}
h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 2pt;
  font-family: 'Arial';
  page-break-after: avoid;
  text-align: left;
}
